body,article,summary,div.menu::before,span,article a,form,input,button,p.load,*{color:#118;}
div.menu a:link,div.menu a:visited,a.u:link,a.u:visited,a.ad:link,a.ad:visited{color:#11C;}
div.menu a:hover,div.menu a:active,a.u:hover,a.u:active,a.ad:hover,a.ad:active{color:#11A;}
span.calc{color:#114;}
:root,html,body,header,article a,input,button{background:#CCC;}
img.head{height:calc(38px * 1.58);width:calc(34px * 1.58);position:fixed;top:0;left:0;}
article{background-image:radial-gradient(10px 10px ,rgba(255,255,255,.75),rgb(184,184,184),rgba(204,204,204,.75),);box-shadow:inset -15px -15px 50px #BBB,inset 20px 20px 50px #EEE;}
hr{background-image:linear-gradient(to right,rgba(16,16,127,0),rgba(16,16,127,.5),rgba(16,16,127,0));}
input.codepoint{border:0;border-bottom:1px solid currentColor;}
.section p:nth-child(1){border-bottom:1px solid rgba(0,0,111,.05);}
input,a.u,a.ad{border-bottom:1px solid currentColor;}
button,a.top,a.bottom{border:1px solid currentColor;}
*:focus{outline:1px solid #118;}
div.menu a:focus,summary:focus,span.key,input:focus{outline:0 solid #118;}
div.menu a:focus{border-left:3px double #118;}
span.key{background:rgba(0,0,0,0);border:1px solid #118;box-shadow:0 3px 0 -2px #11C,0 2px 0 0 #11A;transition:background .5s,border .5s,box-shadow .5s;}
span.key:active,span.key:focus{background:rgba(0,0,0,.05);border:1px solid #114;box-shadow:0 3px 0 -2px #116,0 2px 0 0 #116;transform:background .5s,border .5s,box-shadow .5s;}
span.calc{border:1px solid #114;}